<div class="container">
    <h1 class="title py-3">Manager Bukupedia</h1>
    <div class="notification is-link box">
      <button class="delete"></button>
      <p><strong>Langkah Peninjauan:</strong></p>
      <ol>
        <li>Cek Katalog Buku dan Draft Buku pada <code>Katalog</code> untuk di koreksi</li>
        <li>Untuk melihat dan update data pada <code>Aksi</code></li>
        <li>Kontak <code>Project Owner</code> jika ada revisi dari perpusnas</li>
    </ol>
    </div>
    <div class="table-wrapper">
      <table id="myTable" class="display table is-stripped">
        <thead>
          <tr>
            <th>Data Buku</th>
            <th>Aksi</th>
            <th>Project Owner</th>
            <th>Sinopsis</th>
          </tr>
        </thead>
        <tbody id="webhook-table-body">
          <!-- Rows will be populated by JavaScript -->
        </tbody>
      </table>
    </div>
  </div>
  