<div class="container">
  <h1 class="title py-3">Project Member</h1>
  <div class="notification is-link box">
    <button class="delete"></button>
    <p><strong>Langkah Pengisian:</strong></p>
    <ol>
      <li>Klik Publish Katalog di <code>Metadata</code> agar buku terpublish di web katalog</li>
      <li>Unduh dan upload<code>Kelengkapan Dokumen</code> jangan lupa gunakan ttd elektronik dan e-materai.</li>
      <li>Jika sudah siap pada <code>Aksi</code> silahkan lakukan kirim ke editor</li>
      <li>Jika editor sudah menyetujui maka akan diteruskan ke manager ISBN</li>
  </ol>
  </div>
  <div class="table-wrapper">
    <table id="myTable" class="display table is-stripped">
      <thead>
        <tr>
          <th>Metadata</th>
          <th>Kelengkapan Dokumen</th>
          <th>Aksi</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="webhook-table-body">
        <!-- Rows will be populated by JavaScript -->
      </tbody>
    </table>
  </div>
</div>
