<div class="container">
  <h1 class="title py-3">Project Member</h1>
  <div class="notification is-link box">
    <button class="delete"></button>
    <p><strong>Langkah Pengisian:</strong></p>
    <ol>
      <li>Klik <code>Publish Katalog</code> agar buku terpublish di web katalog</li>
      <li>Unduh dan upload <code>Kelengkapan Dokumen</code> dan jangan lupa beri materai beserta tanda tangan basah atau e-materai atau ttd digital.</li>
      <li>Jika semua sudah siap silahkan kontak editor untuk meminta approval</li>
      <li>Setelah di approve editor kontak manager Bukupedia untuk permintaan nomor dan barcode ISBN, publikasi dan distribusi di semua jalur mitra</li>
      <li>Setelah mendapatkan nomor dan barcode ISBN, silahkan update dokumen draft docx dan pdf pada menu Project Owner dengan nomor dan barcode ISBN yang sudah dimasukkan kedalam dokumen.</li>
      <li>Hubungi kembali manager bukped untuk distribusi buku ke playbook, gramedia, kubuku, dan myedisi.</li>
      <li>Minta surat keterangan sudah melakukan e-deposit perpusnas ke manager bukped.</li>
      <li>Kirimkan softfile pdf buku yang sudah update isbn dalam CD dan sertakan SKT elektronik kemudian kirimkan ke Bapusipda Jabar. Beritahukan manager bukped nomor resi pengiriman</li>
  </ol>
  </div>
  <div class="table-wrapper">
    <table id="myTable" class="display table is-stripped">
      <thead>
        <tr>
          <th>Publish Katalog</th>
          <th>Kelengkapan Dokumen</th>
          <th>Editor</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="webhook-table-body">
        <!-- Rows will be populated by JavaScript -->
      </tbody>
    </table>
  </div>
</div>
