<div class="container">
  <h1 class="title py-3">Project Member</h1>
  <div class="notification is-link box">
    <button class="delete"></button>
    <p><strong>Langkah Pengisian:</strong></p>
    <ol>
      <li>Klik <code>Publish Katalog</code> agar buku terpublish di web katalog</li>
      <li>Unduh dan upload <code>Kelengkapan Dokumen</code> dan jangan lupa beri materai beserta tanda tangan basah atau e-materai atau ttd digital.</li>
      <li>Jika semua sudah siap silahkan kontak <code>Editor</code></li>
  </ol>
  </div>
  <div class="table-wrapper">
    <table id="myTable" class="display table is-stripped">
      <thead>
        <tr>
          <th>Publish Katalog</th>
          <th>Kelengkapan Dokumen</th>
          <th>Editor</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="webhook-table-body">
        <!-- Rows will be populated by JavaScript -->
      </tbody>
    </table>
  </div>
</div>
