<div class="container">
  <h1 class="title py-3">Project Owner</h1>
  <div class="notification is-link box">
    <button class="delete"></button>
    <p><strong>Langkah Pengisian:</strong></p>
    <ol>
      <li>Buat Proyek Buku Baru lengkapi datanya.</li>
      <li>Isi <code>Metadata</code> terdiri dari Cover Buku, Property Buku, dan Editor buku</li>
      <li>Tambahkan <code>Penulis</code> sesuai dengan urutan Penulis</li>
      <li>Upload <code>Dokumen</code><strong><a href="https://naskah.bukupedia.co.id/template/draft.docx" target="_blank" download="draft.docx">Draft Docx</a>, <a href="https://naskah.bukupedia.co.id/template/draft.pdf" target="_blank">Draft PDF</a>, <a href="https://naskah.bukupedia.co.id/template/sampul.pdf" target="_blank">Sampul PDF</a></strong></li>
  </ol>
  </div>
  <button id="addButton" class="button is-primary box btn-flex">
    <i class="bx bx-plus"></i>
    Add a new project
  </button>
  <table id="myTable" class="display table is-stripped">
    <thead>
      <tr>
        <th>Metadata</th>
        <th>Penulis</th>
        <th>Sinopsis</th>
        <th>Dokumen</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody id="webhook-table-body">
      <!-- Rows will be populated by JavaScript -->
    </tbody>
  </table>
</div>
