<div class="container">
  <h1 class="title py-3">Project Owner</h1>
  <div class="notification is-link box">
    <button class="delete"></button>
    <p><strong>Langkah Pengisian:</strong></p>
    <ol>
      <li>Buat Proyek Buku Baru lengkapi datanya.</li>
      <li>Isi <code>Metadata buku</code> terdiri dari Cover Buku, Property Buku, dan Editor buku</li>
      <li>Tambahkan Penulis sesuai dengan urutan Penulis</li>
      <li>Upload dokumen <strong>Draft Docx, Draft PDF, Sampul PDF</strong></li>
  </ol>
  </div>
  <button id="addButton" class="button is-primary box btn-flex">
    <i class="bx bx-plus"></i>
    Add a new project
  </button>
  <table id="myTable" class="display table is-stripped">
    <thead>
      <tr>
        <th>Metadata</th>
        <th>Penulis</th>
        <th>Sinopsis</th>
        <th>Dokumen</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody id="webhook-table-body">
      <!-- Rows will be populated by JavaScript -->
    </tbody>
  </table>
</div>
