<h1>Update Informasi Akun</h1>
      <div class="field">
        <label class="label">Nomor Handphone</label>
        <div class="control">
          <input class="input" id="phonenumber" name="phonenumber" type="tel" disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Nama</label>
        <div class="control">
          <input class="input" id="name" name="name" type="text" disabled>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" id="email" name="email" type="email" placeholder="Masukkan email" disabled>
        </div>
      </div>

      <div class="field">
        <label class="label">NIK</label>
        <div class="control">
          <input class="input" id="nik" name="nik" type="text" disabled>
        </div>
      </div>

      <div class="field">
        <label class="label">URL Penulis</label>
        <div class="control">
          <input class="input" id="pathbio" name="pathbio" type="text" disabled>
        </div>
      </div>

      <div class="field">
        <label class="label">Pekerjaan</label>
        <div class="control">
          <input class="input" id="pekerjaan" name="pekerjaan" type="text">
        </div>
      </div>

      <div class="field">
        <label class="label">Alamat Rumah</label>
        <div class="control">
          <textarea class="textarea" id="alamatrumah" placeholder="Alamat Surat Rumah"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Alamat Kantor</label>
        <div class="control">
          <textarea class="textarea" id="alamatkantor" placeholder="Alamat Surat Kantor"></textarea>
        </div>
      </div>


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="buttonkirimaccount" >Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="buttonbatalaccount">Batal</button>
        </div>
      </div>
